main {
    max-width: 840px;
    margin: auto;
    padding: 1rem;
}

aside {
    width: 90%;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

p {
    padding: 0;
}

footer {
    margin-top: 2rem;
    border-top: 2px solid #444;
    text-align: center;
    padding-top: 1rem;
}